<div id="room_id" data-room-id=<%="#{@room.id if @room}"%> ></div>
<div id="user_id" data-user-id=<%="#{current_user.id}"%> ></div>

<div class="container-fluid" id="whole-page">
  <div class="row" >
    <div class="col-3">
    <div class="card mb-1">
    <div class="card-body">
      Logged in as: <br><strong><%= current_user.username %></strong>
      </div>
      </div>
      <%= render 'form', room: Room.new %>
      <hr>
      <% @rooms.each do |room| %>
        <%= link_to room do %>
          <div class="card mb-2">
            <div class="card-body">
              <%= room.name %>
            </div>
          </div>
        <% end %>

      <% end %>
    </div>
    <div class="col-9">
    <%= render 'show', room: @room %>


    </div>
  </div>
</div>
